.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    border: 1px solid #e9c0dc;
}
.header .header-img img {
    width: 180px;
    padding: 0 50px;
}
.header .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #fff;
    margin-right: 5%;
font-size: 20px;
width: 40vw;
}
.header .nav-link {
    text-decoration: none;
    color: #f04681;
}
.header .nav-link:hover {
    color: #7bd5e0;
}
.header .contact {
    display: flex;
    justify-content: space-between;
    width: 10vw;
    padding-right: 15px;
}
.header .contact-icon {
    font-size: 32px;
color: #f04681;
}
.contact-icon:hover {
    color: #7bd5e0;
    cursor: pointer;
}
