.shop-slide {
    width: 100vw;
}
.shop-slide .shopimg {
    width: 100%;
height: 300px;
object-fit: cover;
}
.shop-slide h1 {
    color: #eba1b4;
font-weight: 900;
}
@media(max-width:576px) {
    .shop-slide h1 {font-size: 22px;}
    .shop-slide .shopimg {height: 350px;}
}
@media(max-width:768px) {
    .shop-slide h1 {font-size: 26px;}
    .shop-slide .shopimg {height: 300px;}
}